.banner {
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    padding: 6% 0;
    opacity: 3ms;
    display: flex;
}

.banner-text {
    width: 60%;
    margin-left: 20%;
    color: white;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 1%;
    display: flex;
    box-shadow: 5px 5px 5px rgb(102, 101, 101);
}


.banner-text img{
    border-radius: 10%;
    height: 15vw;
    width: auto;
    margin: 4vw 3vw;
    margin-bottom: 2vw;
    background-color: #038C4C;
}

.items {
    color: gray;
    margin: 2vw 3vw;
}

.apoyo {
    background-color: #038C4C;
    margin-top: 2vw;
    height: 10%;
    width: 30%;
    text-align: center;
    border-radius: 7%;
}

.apoyo a {
    margin: 5px 10px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .banner-text {
    text-align: center;
    margin-left: 20%;
    }

    .apoyo {
        visibility: hidden;
    }

    .banner-text img {
        height: 25vw;
    }

    .banner {
        background-size: 180%;
    }
}

@media only screen and (max-width: 320px) {
    .banner {
        background-size: 270%;
    }
}
