@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* men-nav */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    background-color: rgb(238, 235, 235);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    z-index: 100;
    margin: 0;
    box-shadow: rgb(211, 211, 211) 2px 2px 2px;
    top: 0%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #038c4c;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
}

.nav-link {
    font-size: 17px;
    font-weight: 400;
    /* color: #f25c05; */
    color: #038c4c;
}

.nav-link:hover {
    color: #f25c05;
}

.nav-logo {
    font-size: 25px;
    color: #038c4c;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 14%;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 15;
    }

    .nav-link {
        font-size: 18px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 35px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
