* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/unnamed.jpg);
}

.register {
    background-color: gray;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.title h3 {
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 30px;
}

.title i {
    color: white;
    margin-left: 40%;
    font-size: 80px;
    padding: 5px;
}

.Controls {
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    width: 80%;
    margin-left: 30px;
    font-size: 15px;
}

.Buttons {
    margin: 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 6%;
}

.Buttons input {
    padding: 5px;
    margin: 10px;
    font-size: 17px;
    color: gray;
}

.Buttons a {
    text-decoration: none;
    color: white;
}

.Buttons a:hover {
    transition: 4ms;
    color: black;
}
